*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
main{
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
  border-bottom: 2px solid #9fbccd;
}

header a{
  text-decoration: none;
}

header .logo{
  font-weight: bold;
  font-size: 36px;
  color: rgb(46, 77, 118)
}

.menu{
  display: flex;
  gap: 10px;
}

.login, .hamburger-menu{
  color:rgb(46, 77, 118)
}

.hamburger-menu{
  display: flex;
  align-items: center;
}

.post {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 20px;
  border: 1px solid rgb(212, 214, 215);
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post .image img{
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 5px;
}

.post .content h2{
  margin: 0;
}

.post .content p.info {
  margin: 0;
  color: rgb(194, 192, 192);
  font-size: 16px;
}

form.login ,form.register{
  max-width: 450px;
  margin: auto;
  border: 2px solid rgb(194, 192, 192);
  border-radius: 5px;
  padding: 10px;
}

input {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding:5px;
  border: 2px solid rgb(194, 192, 192);
  border-radius: 5px;
  background-color: #fff;
}

button {
  display: block;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid rgb(46, 77, 118);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
button:hover{
  background-color: rgb(46, 77, 118);
  color:rgb(194, 192, 192)
}

.login a{
  text-decoration: none;
  font-size: 14px;
  color:rgb(46, 77, 118);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.register-button{
  display: block;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid rgb(46, 77, 118);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
h2.title {
  text-align: center;
  color:rgb(46, 77, 118)
}